.profile {
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: #ebebeb;
  box-shadow: 9px 14px 17px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 9px 14px 17px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 14px 17px -5px rgba(0, 0, 0, 0.75);
  margin-bottom: 30px;
}

.avatar {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.new {
  position: absolute;
  left: 70%;
  top: 10%;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  background-color: aqua;
  text-transform: uppercase;
  font-weight: bold;
}
